/* Apply general styles to the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

/* Style each project entry */
.project {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

video {
    max-width: 100%;
}
body {
    background-image: url('background.jpg'); /* Replace 'background.jpg' with your image file path */
    background-size: cover; /* Scale the image to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
